/*padding and border are included in the total width and height of the elements*/
* {
    box-sizing: border-box;
}

html {
    font-family: "Lucida Sans";
}

[class*="col-"] {
    float: left;
    padding: 15px;
}


.image{
    display: block; 
	margin: auto;
	width:80%
}
.header {
    background-color: #FFFFFF;
    color: black;
    padding: 25px;
    font-weight: bold;
}

/*navbar*/
.header .navbar {
	float:right; 
	padding-right:20px;
}

/*items of navbar*/
.header .navbar a {
	float:left; 
	margin-right:20px;
}
.menubar li {
    padding: 8px;
    margin-bottom: 7px;
    background-color :#309DC2;
    color: #ffffff;
}

/*one item from menubar is slected from the beginning*/
.menubar .selected{
    background-color: #0FC3FF !important;
}

/*one item from navbar is slected from the beginning*/
.navbar .selected{
    color: grey !important;
}

/*hover on the menu list items*/
.menubar .main-list-item:hover { 
    background-color: #90C3D4;
}

/*hover on the navbar items*/
a:hover{
    color:red;
}

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}
@media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}